* {
  box-sizing: border-box;
}

.bg {
  position: relative;
  width: 692px;
  height: 991px;

  .rectangle79 {
    display: flex;
    position: absolute;
    top: 95px;
    left: 155px;
    align-items: flex-start;
    background: var(--verde-bk);
    padding: 29px 231px 707px 24px;
    width: 415px;
    height: 896px;
    background-image: linear-gradient(
      15.71deg,
      #4caf504d -78.87%,
      #008248d4 101.21%
    );

    .ellipse20 {
      opacity: 0.67;
      border-radius: 50%;
      width: 160px;
      height: 160px;
    }
  }

  .ellipse21 {
    position: absolute;
    top: 582px;
    left: 457px;
    opacity: 0.5;
    border-radius: 50%;
    width: 136px;
    height: 136px;
  }

  .ellipse15 {
    position: absolute;
    top: 174px;
    left: 442px;
    opacity: 0.2;
    border: 4px dashed #ffffff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .ellipse13 {
    position: absolute;
    top: 37px;
    left: 415px;
    border-radius: 50%;
    width: 228px;
    height: 228px;
    background-image: linear-gradient(
      34.7deg,
      #ffffff33 -13.72%,
      #ffffff0a 46.09%
    );
  }

  .ellipse14 {
    position: absolute;
    top: 0;
    left: 377px;
    border-radius: 50%;
    width: 303px;
    height: 303px;
    background-image: linear-gradient(
      153.55deg,
      #ffffff66 1.32%,
      #ffffff00 76.75%
    );
  }

  .group287 {
    position: absolute;
    top: 423px;
    left: 74px;
    width: 467px;
    height: 467px;

    .ellipse17 {
      position: absolute;
      top: 80px;
      left: 81px;
      border-radius: 50%;
      width: 307px;
      height: 307px;
      rotate: 9deg;
      background-image: linear-gradient(
        62.62deg,
        #ffffff33 8.46%,
        #ffffff00 79.4%
      );
    }

    .ellipse18 {
      position: absolute;
      top: 30px;
      left: 30px;
      border-radius: 50%;
      width: 408px;
      height: 408px;
      rotate: 9deg;
      background-image: linear-gradient(
        116.76deg,
        #ffffff4d 1.16%,
        #ffffff00 74.88%
      );
    }
  }

  .ellipse16 {
    position: absolute;
    top: 373px;
    left: 0;
    opacity: 0.3;
    border: 4px dashed #ffffff;
    border-radius: 50%;
    width: 339px;
    height: 339px;
  }
}
