* {
  box-sizing: border-box;
}

.rectangle3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  padding: 50px 25px 40px;
  width: 414px;
  height: 327px;
  background-image: linear-gradient(
    180deg,
    #fffffff7 14.81%,
    #fffffffa 141.54%,
    #fffffff7 170.68%
  );

  .findPerfectPlaceForY3 {
    width: 301px;
    text-align: center;
    line-height: 40px;
    color: #1e3932;
    font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;

    .findPerfectPlaceForY {
      line-height: 40px;
      letter-spacing: 0.32px;
      color: #1e3932;
      font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }

    .findPerfectPlaceForY2 {
      line-height: 40px;
      letter-spacing: 2.32px;
      color: #1e3932;
      font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .group2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 50px;
    border-radius: 16px;
    box-shadow: 0px 30px 30px 0px #aaaaaa26;
    background: #4caf50;
    padding: 19px 149px 20px 148px;

    .signUp {
      line-height: 21px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .alreadyHaveAnAccount3 {
    margin: 26px 0px 0px;
    line-height: 21px;
    letter-spacing: 0;
    color: #000000;
    font-size: 16px;

    .alreadyHaveAnAccount {
      letter-spacing: 0;
      color: #555568;
      font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .alreadyHaveAnAccount2 {
      letter-spacing: 0;
      color: var(--verde-escrita, #1e3932);
      font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
